<%- include('./partials/head') %>

<main>
  <h1>Partners</h1>
  <p class="partners-uitleg">Bekijk alle partners en hun websites en controleer via onze checklist of zij voldoen aan de wcag richtlijnen. <br> Vanaf 2025 moet iedere website digitaal toegankelijk zijn.</p>
  <a href=""><button class="add-button">Voeg een link toe.</button></a>
</main>

<script src="./scripts/script.js"></script>
<%- include('./partials/foot') %>