@font-face {
    font-family: mainFont;
    src: url('./assets/mainFont.woff');
}

@font-face {
    font-family: textFont;
    src: url('./assets/textFont.woff');
}

:root {
    --main-pink: #B9005F;
    --main-fade: #E30059;
    --clr-yellow: #FFD05F;
    --clr-lightblue: #46BECD;
    --clr-green: #25AE93;
    --clr-blue: #606eb3;
    --sup-purple: #6A4955;
    --sup-grey: #C9B5B2;
    --mainFont: mainFont;
    --textFont: textFont;
}

* {
    box-sizing: border-box;
    font-family: var(--mainFont);
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-color: #f5f4f4;
    min-height: 100%;
}

header {
    width: 100%;
    height: 5em;
    display: block;
}

header .logo {
    width: auto;
    height: 5em;
    border: 4px solid #fff;
    border-radius: 0 0 3em 0;
    background-color: #fff;
    padding: 0.5em 1.2em;
    position: absolute;
}

.navigation {
    width: 100%;
    height: 2.5em;
    background-color: #fff;
    float: inline-end;
    position: inherit;
}

.navigation ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 4px solid #fff;
    padding: 0.5em 1.2em;
    list-style-type: none;
}

.navigation ul li {
    padding: 0.5em 0.7em;
    font-size: 1.2em;
}

.navigation ul li a{
    text-decoration: none;
    color: black;
}

.navigation ul li a:visited{
    color: black;
}

.navigation ul li a:hover{
    color: var(--main-pink);
    transition: .2s;
}

.navigation::before {
    content: "";
    width: 3.5em;
    height: 3.5em;
    position: absolute;
    top: 2.5em;
    left: 13.8em;
    box-shadow: 0.1em -1em 0 -0.2em white;
    border-radius: 60% 0 0 0;
}

.navigation ul li a.active {
    color: var(--main-pink);
}

main {
    height: 100%;
    width: 98vw;
    max-width: 97vw;
    margin-top: 1rem;
    margin-left: 1vw;
    padding: 3rem 0;
    background-color: #ebebeb;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em;
}

h1 {
    color: var(--main-pink);
    font-size: 3em;
}

h2 {
    color: var(--main-pink);
    font-size: 2em;
}

h3 {
    color: var(--main-pink);
    font-size: 1em;
}

.toolboard {
    margin: 5px;
    align-self: flex-start;
}

.info {
    padding: 1em;
}

.partners-uitleg {
    margin-top: .5em;
}

.add-button {
    background-color: var(--main-fade);
    border: 2px solid var(--main-fade);
    font-size: 1rem;
    padding: .5em;
    margin-top: 1em;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
    color: #fff;
}

.add-button:hover {
    background-color: var(--main-pink);
    border-color: var(--main-pink);
}

.partner-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: .5em;
}

.card {
    border-radius: 15px;
    background-color: white;
    padding: .5em;
    margin: 1em; 
    box-shadow: black 10px 10px;
    box-shadow: 10px 10px 8px #888888;
    margin-left: -.5em;
}

.form__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    height: calc(100vh - 5em);
  }
  
  .form__container p {
    font-size: .9em;
    color: black;
    font-family: var(--textFont);
    margin-bottom: 10px;
  }
  
  .flex-column {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 80% 20%;
    gap: 2em;
  }
  
  form {
    color: black;
    margin: auto;
    /* margin-top: 13em; */
    border: 2px solid var(--main-pink);
    border-radius: 1em;
    padding: 1em;
    width: auto;
    display: flex;
    flex-direction: column;
  }
  
  form label,
  form label span {
    font-family: var(--textFont);
    /* margin-top: 5px; */
  }
  
  input[type=text],
  input[type=url],
  select {
    width: 100%;
    padding: 12px 5px;
    color: black;
    font-family: var(--mainFont);
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--main-pink);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    font-size: 1.1em;
    padding: 0.5em 1.5em;
    border-radius: .7em;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: var(--main-pink);
  }

  @media (max-width: 1420px) {
    .partner-container {
        grid-template-columns: repeat(2,1fr);
    }
  }

  @media (max-width: 1050px) {
    .partner-container {
        grid-template-columns: repeat(1,1fr);
    }
  }
